body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

.arrange-left {
    float: left;
}

.w-25 {
    width: 25%;
}

.w-33 {
    width: 33.3%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.next-row {
    clear: both;
}

.common-btn {
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 0px;
    min-width: 50px;
    background-color: #fff;
    text-align: center;
    color: #D19C97;
    margin-right: 10px;
}

.common-btn span {
    font-size: 16px;
    font-weight: 800;
}

.common-btn span i {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: #333;
}

.flip {
    transform: scaleX(-1);
}

.mr-5 {
    margin-right: 5%;
}

@media screen and (max-width: 480px) {
    .arrange-left {
        float: none !important;
    }
    .w-25{
        width: 100% !important;
    
    }
    .w-33{
        width: 100% !important;
    }
    .w-75 {
        width: 100% !important;
    }

    .footer {
        flex-wrap: wrap;
    }
    .footer-desc {
        padding-right: 26px;
    }
    .copy-right {
        flex-direction: column;
    }
}